{
	"semi": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 145,
	"overrides": [
		{
			"files": ["*.yaml", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.swcrc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
